<style>
    table, th, td {
        border: 1px solid #aaa;
        border-collapse: collapse;
    }
</style>

<body>
    <div class="content">
        <h1 style="text-align: left">Enter Row</h1>
        {% if rows|length < 1 %}
        <h4 style="text-align: center"> There are no rows. Add row below.</h4>
        {% else %}

        <div>
            <table style="float: left">
                <tr>
                    <th>Row</th>
                    <th>Added</th>
                    <th>Actions</th>
                    <!--<th>Barcodes</th>-->
                </tr>
                {% for row in rows %}
                    <tr>
                        <td>{{ row.content }}</td>
                        <td>{{ row.date_created.date() }}</td>
                        <td>
                            <a href="/delete/{{row.id}}">Delete</a>
                            <br>
                            <a href="/update/{{row.id}}">Update</a>
                        </td>
                        <!--<td>{{ row.barcode }}</td>-->
                    </tr>
                {% endfor %}
            </table>
            {% endif %}
            <table style="float: left">
                <tr>
                    <th>Barcodes</th>
                </tr>
                {% for barcode in barcodeList %}
                    <tr>
                        <td>{{ barcode }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</body>


<form action="/" method="POST" style="margin: 0 auto">
    <input type="text" name="content">
    <input type="submit" value="Add Row">
</form>

<a href="/video_page">
    <button>Submit</button>
</a>


