<style>
    table, th, td {
        margin: 0 auto;
        border: 1px solid #aaa;
        border-collapse: collapse;
        width: 400px;
        text-align: center;
    }
    th {
        height: 30px;
    }
    td {
        padding: 5px;
    }
</style>

<body>
    <div class="content">
        <h1 style="text-align: left">Enter Location Details</h1>
        {% if rows|length < 1 %}
            <div>
                <table style="float: left">
                    <tr>
                        <th>Add location details below.</th>
                    </tr>
                    <tr>
                        <td colspan="4"><form action="/" method="POST" style="margin: 0 auto">
                            <input type="text" name="factory" style="padding: 5px" size="4" placeholder="Fac">
                            <input type="text" name="building" style="padding: 5px" size="4" placeholder="Bldg">
                            <input type="text" name="content" style="padding: 5px" size="4" placeholder="Row">
                            <input type="submit" value="Add Row" style="padding: 5px">
                            </form>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            <a href="/video_page" type="none">
                                <button style="padding: 5px">Submit</button>
                            </a>
                            <a href="/export" type="none">
                                <button style="padding: 5px">Export</button>
                            </a>
                        </td>
                    </tr>
            </div>
        {% else %}

            <div>
                <table style="float: left">
                    <tr>
                        <th>Row</th>
                        <th>Added</th>
                        <th>Actions</th>
                        <!--<th>Barcodes</th>-->
                    </tr>
                    {% for row in rows %}
                        <tr>
                            <td>{{ row.content }}</td>
                            <td>{{ row.date_created.date() }}</td>
                            <td>
                                <a href="/delete/{{row.id}}">Delete</a>
                                <br>
                                <a href="/update/{{row.id}}">Update</a>
                            </td>
                            <!--<td>{{ row.barcode }}</td>-->
                        </tr>
                    {% endfor %}
                    <tfoot>
                        <tr>
                            <td colspan="4">
                                <a href="/video_page" type="none">
                                    <button style="padding: 5px">Submit</button>
                                </a>
                                <a href="/export" type="none">
                                    <button style="padding: 5px">Export</button>
                                </a>
                            </td>
                        </tr>
                    </tfoot>
                    <tfoot>
                        <tr>
                            <td colspan="4"><form action="/" method="POST" style="margin: 0 auto">
                                <input type="text" name="factory" style="padding: 5px" size="4" placeholder="Fac">
                                <input type="text" name="building" style="padding: 5px" size="4" placeholder="Bldg">
                                <input type="text" name="content" style="padding: 5px" size="4" placeholder="Row">
                                <input type="submit" value="Add Row" style="padding: 5px">
                                </form>
                            </td>
                        </tr>
                    </tfoot>
                </table>
        {% endif %}
        {% if barcodeList|length >= 1 %}

                <table style="float: left">
                    <tr>
                        <th>Barcodes</th>
                    </tr>
                    {% for barcode in barcodeList %}

                        <tr style="padding: 5px">
                            <td>{{ barcode }}</td>
                        </tr>
                    {% endfor %}
                </table>
        {% endif %}
        </div>
    </div>    
</body>


    <!--<form action="/" method="POST" style="margin: 0 auto">
        &ensp;<input type="text" name="content">
        <input type="submit" value="Add Row">
        &ensp;
    </form>
    <a href="/video_page" type="none">
        &ensp;<button>Submit</button>
    </a>-->

