{% extends 'base.html' %}

<!--{% block head %}
<title>Add Specific Row Number</title>
{% endblock %}-->

{% block body %}
<div class="content">
    <h1 style="text-align: center">Update Details</h1>
    <form action="/update/{{row_selected.id}}" method="POST">
        <input type="text" name="factory" value="{{row_selected.factory}}", placeholder="Fac">
        <input type="text" name="building" value="{{row_selected.building}}", placeholder="Bldg">
        <input type="text" name="row" value="{{row_selected.row}}", placeholder="Row">
        <input type="submit" value="Update">
    </form>
</div>
{% endblock %}