<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-8  offset-lg-2">
                <h3 class="mt-5">Live Streaming</h3>
                <img src="{{ url_for('video_feed') }}" width="50%">
            </div>
        </div>
    </div>
</body>

<a href="/show_barcode">
    <button>Barcode List</button>
</a>
<button onclick="playVid()" type="button">Play Video</button>
<button onclick="pauseVid()" type="button">Pause Video</button><br> 
<script> 
    var vid = document.getElementById("video_feed"); 
    
    function playVid() { 
      vid.play(); 
    } 
    
    function pauseVid() { 
      vid.pause(); 
    } 
    </script> 

<!--<body>
    <div class="barcode">
        <h1 style="text-align: left"> Barcodes Scanned </h1>
        <body>
            {% for barcode in result %}
                {{ barcode }}
            {% endfor %}
            <p> {{ result }} </p>
        </body>
    </div>
</body>-->
