</div>-->
<!--<style>
    h3{
        margin-left: 275px;

    }
    button{
        margin-left: 50px;
        padding: 15px, 32px;
        font-size: 20px;
        margin:4px 30px;
    }
    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 40%;
    }
    .divcenter {
        margin: auto;
        width: 60%;
    }
</style>-->

<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-8  offset-lg-2">
                <h3 class="mt-5">Live Streaming</h3>            <!--style="text-align: center"-->
                <img src="{{ url_for('video_feed') }}" class="center", width="50%">
            </div>
        </div>
    </div>
</body>

<div class=".divcenter">
    <a href="/start_camera">
        <button style="color:green">Start camera</button>
    </a>

    <a href="/stop_camera">
        <button style="color:red">Stop camera</button>
    </a>
    <a href="/">
        <button style="color:blue">Back</button>
    </a>
</div>

