<style>
.img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%
}
.center {
    text-align: center;
    padding: 10px
}

</style>

<body>
    <div>
        <div class="row">
            <div class="col-lg-8  offset-lg-2">
                <h3 class="mt-5" style="text-align: center">Live Streaming</h3>            <!--style="text-align: center"-->
                <img src="{{ url_for('video_feed') }}" class="img">
            </div>
        </div>
    </div>
</body>

<div class="center">
    <a href="/start_camera">
        <button style="padding: 5px; color: green">Start camera</button>
    </a>
    <a href="/stop_camera">
        <button style="color:red; padding: 5px">Stop camera</button>
    </a>
    <a href="/">
        <button style="padding: 5px">Back</button>
    </a>
</div>

